html {
  background-color: lightblue;
  font-family: "Slabo 27px", serif;
  font-family: "Amatic SC", cursive;
}

h1 {
  font-family: "Amatic SC", cursive;
  color: white;
}

p {
  font-family: "Slabo 27px", serif;
  color: white;
}

.max-width {
  max-width: 320px;
  display: block;
}

.border {
  border: solid 4px grey;
}
